
		  #ulreason{
			  list-style-type: none;
			  margin:0px;
			  padding:0;
			  list-style-position: outside
		  }
		  #ulreason li{
			  vertical-align: text-bottom;
			  margin-bottom: 2px;
			  margin-left: 5px;
			  float: left;
		  }
		  #ulreason span{
			  font-family: MicrosoftYaHei;
			  font-size: 12px;
			  color: #434343;
			  text-align: left;
			  margin-left: 5px;
			  vertical-align: 3px;
		  }
		  #spanq{
			  font-family: MicrosoftYaHei;
			  font-size: 14px;
			  line-height: 20px;
			  color: #959595;
			  text-align: left;
			  margin-left: 8px;
			  display: block;
			  vertical-align: middle;
		  }
		  #spanreason{
			  float: left;
		  }
		  .spclose{
			  font-family: MicrosoftYaHei;
			  font-size: 14px;
			  color: #000000;
			  margin-left: 8px;
			  margin-top: 8px;
			  width: 150px;
		  }
		  #spclosefinal
		  {
			  display: none
		  }
		  .a-revert
		  {
			  font-family: MicrosoftYaHei;
			  font-size: 14px;
			  color: #00a0e9;
			  text-align: center;
			  margin-left: 12px;
			  cursor: pointer;
		  }

		  #cb-x {
			  position: absolute;
			  z-index: 100;
			  top: 0px;
			  bottom: auto;
			  vertical-align: top;
			  right: 0px;
			  left: auto;
		  }

		  #cb-x, #cb-x a, #cb-x img {
			  text-decoration: none;
			  margin: 0;
			  padding: 0;
			  border: none;
			  cursor: pointer;
		  }

		  #floatdiv{
			  position: absolute;
			  display: none;
			  top: 0px;
			  left:0px;
			  background: url('../image/bgpic.png') no-repeat scroll;
			  background-position:  bottom right;
			  background-color: white;
			  z-index: 100;
			  padding-top: 3px;;
		  }
